a=10

In [3]:
a

10

In [4]:
print(a)

10

# FORMAT PRINT

In [11]:
NAME="UTHAYA KUMAR"

In [12]:
print("MY NAME IS {}".format(NAME))

MY NAME IS UTHAYA KUMAR

print("MY NAME IS {name}.I AM IN {college}".format(name="UTHAYA KUMAR",college="pmist"))

# F-PRINT

In [21]:
print(f"my name is {'Uthaya'}.i am {'computer student'}")

my name is Uthaya.i am computer student

# TASK 1
she sell"sea" shell in "sea shore"

In [ ]:
print(f"she sell(x) shell in(y).format{(x='sea'),(y='sea shore')}")

# USER INPUT

In [ ]:
var1=int(input())